<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.YoonONI_BackEnd.mapper.MyPageMapper">
    <select id="selectMyPage" parameterType="string" resultType="com.example.YoonONI_BackEnd.vo.MyPageVo">
        SELECT
            user_id,
            email,
            birth_date,
            height_cm,
            weight_kg
        FROM users
        WHERE user_id = #{userId}
    </select>
    
    <update id="changePassword" parameterType="com.example.YoonONI_BackEnd.vo.MyPagePwdVo">
        UPDATE
            users
        SET
            password = #{newPassword}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteId" parameterType="string">
        DELETE
        FROM users
        WHERE user_id = #{userId}
    </delete>
</mapper>
