<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.YoonONI_BackEnd.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.example.YoonONI_BackEnd.vo.UserVo">
        INSERT INTO users (
            user_id, password, email, gender, birth_date,
            height_cm, weight_kg
        ) VALUES (
                     #{userId}, #{password}, #{email}, #{gender}, #{birthDate},
                     #{heightCm}, #{weightKg}
                 )
    </insert>
    
    <select id="existsByUserId" parameterType="string" resultType="boolean">
        select exists(
        select 1 from users where user_id = #{userId}
                            )
    </select>

    <select id="selectUser" parameterType="string" resultType="com.example.YoonONI_BackEnd.vo.UserVo">
        select user_id,
               password,
               email,
               gender,
               birth_date,
               height_cm,
               weight_kg
        from users
        where
            user_id = #{userId}
    </select>

</mapper>
