<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.YoonONI_BackEnd.mapper.WorkoutLogMapper">
    <insert id="saveLog" parameterType="com.example.YoonONI_BackEnd.vo.WorkoutLogVo">
        INSERT INTO workout_log(
                                workout_date, memo, user_id
        ) VALUES (
                  #{workoutDate}, #{memo}, #{userId}
                         )
    </insert>

    <insert id="saveSets" parameterType="com.example.YoonONI_BackEnd.vo.WorkoutSetVo">
        INSERT INTO workout_set(
            workout_log_id, exercise_name, target_muscle, set_number, reps, weight
        ) VALUES (
                     #{workoutLogId}, #{exerciseName}, #{targetMuscle}, #{setNumber}, #{reps}, #{weight}
                 )
    </insert>

    <select id="selectLogId" resultType="int">
        SELECT
            id
        FROM
            workout_log
        WHERE
            1=1
        AND
            workout_date = #{workoutDate}
    </select>

    <select id="countMonthLog" resultType="int">
        SELECT
            COUNT(*)
        FROM
            workout_log
        where
            workout_date
        BETWEEN #{sDate} AND #{eDate}
        AND
            user_id = #{userId}
    </select>

    <select id="countYearLog" resultType="int">
        SELECT
            COUNT(*)
        FROM
            workout_log
        WHERE
            user_id = #{user_id}
    </select>

    <select id="selectLogs" resultMap="WorkoutLogsResultMap">
        SELECT
            a.workout_date,
            a.memo,
            b.exercise_name,
            b.target_muscle,
            b.set_number,
            b.reps,
            b.weight
        FROM
            workout_log a
        LEFT JOIN
                workout_set b
        ON
            a.id = b.workout_log_id
        WHERE
            a.workout_date
        BETWEEN #{sDate} AND #{eDate}
        AND a.user_id = #{userId}
        ORDER BY
            a.workout_date, b.set_number
    </select>

    <resultMap id="WorkoutLogsResultMap" type="com.example.YoonONI_BackEnd.dto.WorkoutLogDto">
        <result property="workoutDate" column="workout_date"/>
        <result property="memo" column="memo"/>
        <collection property="sets" ofType="com.example.YoonONI_BackEnd.dto.WorkoutSetDto">
            <result property="exerciseName" column="exercise_name"/>
            <result property="targetMuscle" column="target_muscle"/>
            <result property="setNumber" column="set_number"/>
            <result property="reps" column="reps"/>
            <result property="weight" column="weight"/>
        </collection>
    </resultMap>

    <select id="selectLog" resultMap="WorkoutLogResultMap">
        SELECT
            a.workout_date,
            a.memo,
            b.exercise_name,
            b.target_muscle,
            b.set_number,
            b.reps,
            b.weight
        FROM
            workout_log a
        INNER JOIN workout_set b
        ON
            a.id = b.workout_log_id
        WHERE
            a.user_id = #{userId}
        AND
            a.workout_date = #{workoutDate}
    </select>

    <resultMap id="WorkoutLogResultMap" type="com.example.YoonONI_BackEnd.dto.WorkoutLogDto">
        <result property="workoutDate" column="workout_date"/>
        <result property="memo" column="memo"/>
        <collection property="sets" ofType="com.example.YoonONI_BackEnd.dto.WorkoutSetDto">
            <result property="exerciseName" column="exercise_name"/>
            <result property="targetMuscle" column="target_muscle"/>
            <result property="setNumber" column="set_number"/>
            <result property="reps" column="reps"/>
            <result property="weight" column="weight"/>
        </collection>
    </resultMap>
</mapper>